<!DOCTYPE html>
<html ng-app="skbTest">
<head>
    <meta charset="UTF-8">
    <title>SKB test task</title>
</head>
<body ng-controller="skbTestController">
<style>
    textarea {
        height: 300px;
        width: 300px;
    }
</style>

<p>Предполагается, что названия тэгов (кроме field…) и пространств имен мы знаем заранее. (в задании об этом ничего не
    сказано, но можно сделать и исходя из других предпосылок)</p>
<h1>1. XML to JSON:</h1>
<table>
    <tr>
        <td>
            <h2>Enter XML string here:</h2>
        </td>
        <td></td>
        <td>
            <h2>JSON result:</h2>
        </td>
    </tr>
    <tr>
        <td>
            <textarea ng-model="xmlToConvert"></textarea>
        </td>
        <td>
            <input type="button" value="Convert>>" ng-click="xmlToJson(xmlToConvert)">
        </td>
        <td>
            <textarea disabled>{{jsonConverted}}</textarea>
        </td>
    </tr>
</table>

<h1>2. JSON to XML:</h1>
<table>
    <tr>
        <td>
            <h2>Enter JSON string here:</h2>
        </td>
        <td>
        </td>
        <td>
            <h2>XML result:</h2>
        </td>
    </tr>

    <tr>
        <td>
            <textarea ng-model="jsonToConvert">{{jsonToConvert}}</textarea>
        </td>
        <td>
            <input type="button" value="Convert>>" ng-click="jsonToXml(jsonToConvert)">
        </td>
        <td>
            <textarea disabled>{{xmlConverted}}</textarea>
        </td>
    </tr>
</table>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        let skbTest = angular.module("skbTest", []);
        skbTest.controller("skbTestController", function ($scope) {

            let defaultXmlStr = "<ns1:input xmlns:ns1=\"ns1:test\" xmlns:ns2=\"ns2:test\">\n" +
                "    <ns1:element id=\"1\">\n" +
                "        <ns2:field1>1</ns2:field1>\n" +
                "        <ns2:field2>2</ns2:field2>\n" +
                "        <ns2:field3>3</ns2:field3>\n" +
                "    </ns1:element>\n" +
                "    <ns1:element id=\"2\">\n" +
                "        <ns2:field1>4</ns2:field1>\n" +
                "        <ns2:field2>5</ns2:field2>\n" +
                "        <ns2:field3>6</ns2:field3>\n" +
                "    </ns1:element>\n" +
                "</ns1:input>";

            let defaultJsonStr = "{\"elements\": [\n" +
                "{\"element\": {\n" +
                "\"field1\": \"1\",\n" +
                "\"field2\": \"2\",\n" +
                "\"field3\": \"3\",\n" +
                "\"id\": \"1\"\n" +
                "}},\n" +
                "{\"element\": {\n" +
                "\"field1\": \"4\",\n" +
                "\"field2\": \"5\",\n" +
                "\"field3\": \"6\",\n" +
                "\"id\": \"2\"\n" +
                "}}\n" +
                "]}"

            $scope.xmlToConvert = defaultXmlStr;
            $scope.jsonConverted = "";
            $scope.jsonToConvert = defaultJsonStr;
            $scope.xmlConverted = "";

            let parcer = new DOMParser();

            let tagMap = new Map();
            tagMap.set("ns1", "ns1:test");
            tagMap.set("ns2", "ns2:test");

            let getElementsByTagNameNsPrefix = function (domTree, tagName, nsPrefix) {
                if (tagName && nsPrefix && (domTree instanceof XMLDocument || domTree instanceof Element)) {
                    let elements = domTree.getElementsByTagNameNS(tagMap.get(nsPrefix), tagName);
                    return elements;
                }
                return [];
            }

            let extractInputData = function (inputElement) {
                let resultObject = {};
                resultObject.elements = [];
                if (inputElement instanceof Element) {
                    let innerElements = getElementsByTagNameNsPrefix(inputElement, "element", "ns1");
                    for (let element of innerElements) {
                        let id = element.getAttribute("id");
                        if (id) {
                            let elementObject = {};
                            elementObject.element = {};
                            elementObject.element.id = id;
                            let fields = element.children;
                            for (let field of fields) {
                                let fieldName = field.localName;
                                let fieldNamespace = field.namespaceURI;
                                if (fieldNamespace == tagMap.get("ns2")

                                    // можно еще такую проверку добавить, но как я понял, название поля может быть любым
                                    // && fieldName.startsWith("field")

                                ) {
                                    let textContent = field.textContent;
                                    elementObject.element[fieldName] = textContent;
                                }
                            }
                            resultObject.elements.push(elementObject);
                        }
                    }
                }
                return resultObject;
            }


            $scope.xmlToJson = function (xmlString) {
                $scope.update;
                let jsonString = {};
                let domTree = parcer.parseFromString(xmlString, "application/xml");
                let inputElements = getElementsByTagNameNsPrefix(domTree, "input", "ns1");
                let inputElement;
                if (inputElements.length > 0) {
                    inputElement = inputElements[0];
                    let jsonReadyObject = extractInputData(inputElement);
                    jsonString = JSON.stringify(jsonReadyObject, null, " ");
                }
                $scope.jsonConverted = jsonString;
            }


            let addTabs = function (tabsQty) {
                let str = "";
                for (let i = 0; i < tabsQty; i++) {
                    str += "\t";
                }
                return str;
            }

            $scope.jsonToXml = function (jsonString) {
                let jsonObject = {};
                try {
                    jsonObject = JSON.parse(jsonString);
                } catch (e) {
                    console.log("Error at jsonString parsing\n" + e);
                    $scope.xmlConverted = "Error at jsonString parsing";
                    return;
                }
                let xmlString = "<ns1:input xmlns:ns1=\"ns1:test\" xmlns:ns2=\"ns2:test\">\n";
                let elements = jsonObject.hasOwnProperty("elements") ? jsonObject.elements : [];
                if (elements instanceof Array && elements.length > 0) {
                    for (let i = 0; i < elements.length; i++) {
                        let arrayElement = elements[i];
                        if (!arrayElement.hasOwnProperty("element") || !arrayElement.element.hasOwnProperty("id")) {
                            continue;
                        }
                        let element = arrayElement.element;
                        let id = element.id;
                        delete element.id;
                        xmlString += addTabs(1) + "<ns1:element id=" + id + ">\n";
                        for (let fieldName in element) {
                            // if (fieldName.startsWith("field")) {
                            let textContent = element[fieldName];
                            xmlString += addTabs(2) + "<ns2:" + fieldName + ">" + textContent + "</ns2:" + fieldName + ">\n";
                            // }
                        }
                        xmlString += addTabs(1) + "</ns1:element>\n";
                    }
                }
                xmlString += "</ns1:input>";
                $scope.xmlConverted = xmlString;
            }

        });
    </script>
</body>
</html>